.top-header.hidden-xs.hidden-sm
  .container
    .pull-left
      .header-item
        %i.fa.fa-envelope
        = link_to ENV["SUPPORT_EMAIL"], "mailto:#{ENV["SUPPORT_EMAIL"]}"
      / <div class="header-item"><i class="fa fa-phone"></i> +420 123 456 789</div>
    .pull-right
      %ul.brands.brands-inline.brands-tn.brands-circle.main
        %li
          = link_to "https://twitter.com/papersmarket", target: "_blank"  do
            %i.fa.fa-twitter
        %li
          = link_to "https://facebook.com/papersmarketplace", target: "_blank" do
            %i.fa.fa-facebook
        %li
          = link_to "https://plus.google.com/u/3/b/114642804548545185768/+Papersmarketplacedotcom",  target: "_blank"  do
            %i.fa.fa-google-plus
      .header-item
        - if !seller_signed_in? && student_signed_in?
          = link_to student_orders_path, class: "m-r-15" do
            %i.fa.fa-folder-open>
            Manage Orders
          = link_to destroy_student_session_path, method: :delete do
            %i.fa.fa-sign-out>
            Log out

        - if !seller_signed_in? && !student_signed_in?
          = link_to new_seller_session_path, class: "m-r-15" do
            %i.fa.fa-user>
            Seller Login
          = link_to new_student_session_path do
            %i.fa.fa-graduation-cap>
            Student Login
        - if seller_signed_in? && !student_signed_in?
          = link_to marketplace_dashboard_path, class: "m-r-15"  do
            %i.fa.fa-dashboard
            My Dashboard
          = link_to destroy_seller_session_path, method: :delete do
            %i.fa.fa-sign-out>
            Log out

